@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
  --color-accent: #1e90ff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.input {
  background-color: #0b0b0b;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: white;
}

.input::placeholder {
  color: rgba(255,255,255,0.4);
}


.card {
  background-color: #111111;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(255,255,255,0.1);
}

